
.part1{
    padding: 20px;
    border: 2px solid black;
    width: 50%;
    margin: auto;
    justify-content: space-between;
    background-color: rgb(251, 255, 192);  


}
.part1 h1{
    font-size: 25px;
    color: blue;
    text-align: center;


}
.part1 ol{
    
    font-size: 14px;
    color: black;
    
}